.container{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container>h1{
    color: bisque;
    font-family: monospace;
}
label, input{
    font-size: 18px;
    padding: 5px;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: rgb(135, 128, 128);
    border-radius: 10px;
}